<% if ( rol=="dueno" ) { %>
  <%# Perfil del dueño %>
  <h1 class="display-1 text-titulo text-center">MI PERFIL</h1>

  <div class="container-profile">
    <div class="profile-image">
      <img class="profile-image" src="<%= foto %>" height="300px" alt="Foto de perfil">
      <div class="profile-details">
        <br>
        <br>
        <%# Nombre del perfil %>
        <h2 class="text-parrafo text-center nametext">
          <%= nombre %>
        </h2>
        <%# Dirección %>
        <% if ( email==idPerfil ) { %>
          <p class="descriptiontext"><strong>País: </strong>
            <%= perfil.pais %>
          </p>
          <p class="descriptiontext"><strong>Municipio: </strong>
            <%= perfil.municipio%>
          </p>
          <p class="descriptiontext"><strong>Dirección: </strong>
            <%= perfil.direccion %>
          </p>
          <p class="descriptiontext"><strong>Edad: </strong>
            <%= perfil.edad %>
          </p>
          <p class="descriptiontext"><strong>Correo Electrónico:</strong>
            <%= email %>
          </p>
          <p class="descriptiontext"><strong>Teléfono:</strong>
            <%= perfil.telefono %>
          </p>
          <p class="descriptiontext"><strong>Cuenta de transferencia:</strong></p>

          <button id="generate-pdf-btn">Generate PDF</button>

        <% } else { %>

          <a href="/v1/dueno/chat" class="boton-profile">Chatea</a>

          <a href="/v1/dueno/reportes" id="myBtn" class="btn-danger">Reportar</a>

                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <h8>Nombre:</h8>
                    <h1><%= element.nombre %></h1>

                    <h8>Comportamiento:</h8>
                    <h4><%= element.comportamiento %></h4>

                    <h8>Estatura:</h8>
                    <h4><%= element.estatura %> Cm</h4>

                    <h8>Peso:</h8>
                    <h4><%= element.peso %> Kg</h4>

                    <h8>Raza:</h8>
                    <h4><%= element.raza %></h4>

                    <h8>Vacunas:</h8>
                    <h4><%= element.vacunas %></h4>
                    <button id="myBtn2" class="btn-danger">Cerrar</button>
                  </div>
                </div>

        <% }; %>

        <p class="misperrostitle">MIS PERROS: </p>

        <%# Perros %>
        <div class="container">
          <div class="row-profile">
            <br>
            <%# Renderización de perros %>
            <% perfil.perros.forEach((element)=>{ %>
              <div class="small-container">
                <img class="profile-image-dog" src="/v1/img/bulldog1.jpeg" alt="Imagen">
                <p class="misperrostitle">
                  <%= element.nombre %>
                </p>
                <button id="myBtn" class="boton-profile">Ver</button>

                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <h8>Nombre:</h8>
                    <h1><%= element.nombre %></h1>

                    <h8>Comportamiento:</h8>
                    <h4><%= element.comportamiento %></h4>

                    <h8>Estatura:</h8>
                    <h4><%= element.estatura %> Cm</h4>

                    <h8>Peso:</h8>
                    <h4><%= element.peso %> Kg</h4>

                    <h8>Raza:</h8>
                    <h4><%= element.raza %></h4>

                    <h8>Vacunas:</h8>
                    <h4><%= element.vacunas %></h4>
                    <button id="myBtn2" class="btn-danger">Cerrar</button>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% if ( email==idPerfil ) { %>
    <p class="historialtitle">HISTORIAL DE PASEOS: </p>
    <%# Paseos %>
    <div class="container">
      <div class="row-profile">
        <%# Renderización de paseos %>
        <% paseo.forEach((element)=>{ %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card1">
              <div class="card-body">
                <p class="card-text"><%= element.titulo %></p>
                <p class="card-text">Precio del servicio: $<%= element.precio %>
                </p>
                <p class="card-text">Estado del servicio: <%= element.estado %>
                </p>
                <a href="#" class="boton-profile">Detalles</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
  <% }; %>

  <% } else { %>
    <%# Perfil del paseador %>
    <h1 class="display-1-paseador text-titulo text-center">MI PERFIL</h1>
    <div class="tab-container">
      <div class="tab-content">
        <img class="profile-details-p" src="<%= foto %>" alt="Foto de perfil" <p><strong
          class="titulosperfilpaseador">
          <%= nombre %>
        </strong></p>
        <h2 class="titulosperfilpaseador-title"> Paseador de Mascotas</h2>
        <div class="profile-details">
          <p class="titulosperfilpaseador"><strong>Correo Electrónico:</strong></p>
          <p class="titulosperfilpaseador"><strong>Teléfono:</strong></p>
          <p class="titulosperfilpaseador"><strong>Cuenta de transferencia:</strong></p>
          <!-- Agrega más detalles del perfil del paseador aquí -->
        </div>
      </div>
    </div>
  <% } %>
<%# } %>